@import "clearfix";
@import "params";
@import "mixins";


a,a:hover{
	text-decoration:none;
	cursor:default;
	position:relative;
}
a::after{
	position:absolute;
	left:50%;
	right:50%;
	bottom:-13px;
	content:"";
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
	transform:translate3d(0px, 0px, 0px);
	height:2px;

}
a:hover::after{
	left:-4px;
	right:0;
}
.not-a:hover::after{
	background: transparent;
	left:50%;
	right:50%;
}
body{
	font-family: "museo",sans-serif;
	font-style: normal;
	font-weight: 300;
}
body.darklyStyle{
	background:$BlockGun;
	color:#fff;
	a{
		color:#fff;
	}
	a::after{
		background:#fff ;
	}
}
body.lightStyle{
	background: #fff;
	color:$BlockGun;
	background: url(../imgs/bg.png) repeat;
	a::after{
		background:$BlockGun ;
	}
}
.a-dec{
	position:relative;
	display: inline-block;
	padding:3px 5px;
	margin-left:-4px;
}
.a-dec:hover{
	 border-bottom:1px solid; 
}
.a-dec:first-child{
	margin-left:0;
}
.externalLinks,
.internalLinks,
.backlLink{
	font-family: inherit;
	z-index:222;
	position:absolute;
	left:90px;
	word-spacing: 20px;
	letter-spacing: 5px;
}
.nowHere{
	position:absolute;
	right:90px;
	top:70px;
	word-spacing: 20px;
	letter-spacing: 5px;	
}
.backlLink:after {
	position:absolute;
	left:0;
	bottom:-300px;
	content:"";
	height:240px;
	width:2px;
	background: $BlockGun;
}
.externalLinks,
.backlLink{
	top:70px;
}
.internalLinks{
	bottom:70px;
}
.rightNav {
	z-index: 222;
	position: absolute;
	width:12px;
	right:90px;
	bottom:120px;
	.buttons{
		position:relative;
		margin:20px 0;
		width:50px;
		height:70px;
		cursor:default;
		margin-left:-60px;
		overflow: hidden;
	}
	.button{
		position:absolute;
		width:100%;
		height:100%;
		text-align: center;
		font-size:24px;
		padding-top:20px;
		box-sizing: border-box;
		@include transition;
		border:1px solid #fff;
	}
	.buttons:hover .button1{
		left:-100%;
	}
	.buttons:hover .button2{
		left:0;
	}
	.button2{
		background: #fff;
		color:$BlockGun;
		left:100%;
	}
	.button1{
		background: $BlockGun;
		left:0;
	}
	li{
		display:block;
		width:12px;
		height:12px;
		margin:40px 0;
		a{
			height:100%;
			width:100%;
		}
	}
	span.r{
		border:1px solid #fff;
		width:10px;
		height:10px;
		position:absolute;
		@include transition;
		&:hover{
			@include transform(360deg);
		}
	}
	span.r.active{
		background: #fff;
	}
}

.bg-art{
	position:absolute;
	top:0;
	left:0;
	img {
		height:100%;
	}
}
.container{
	position:relative;
}
.left-container {
	display: inline-block;
	margin-right:-4px;
	vertical-align: middle;
	word-wrap:break-word;
	box-sizing: border-box;
	h1 {
		font-size:64px;
		letter-spacing: 10px;
		line-height:1.5;
	}
}
.right-container {
	position:relative;
	display: inline-block;
	vertical-align: middle;
	$LeftContainerWidth : 324px;
	.blocks{
		margin: 0 auto;
		width:$LeftContainerWidth;
	}
	.block{
		width:$LeftContainerWidth;
		height:200px;
		border:1px solid #fff;
		margin:10px;
		display: inline-block;
		position:relative;
		overflow: hidden;;
	}
	.block-side1,
	.block-side2{
		position: absolute;
		width:100%;
		height:100%;
		@include transition;
	}
	.block-side1{
		background:rgba(0,0,0,0.3);
		top:100%;
	}
	.block-side2{
		top:0;
		background:rgba(255,255,255,0.3);
		padding:80px 0;
		box-sizing: border-box;
		text-align: center;
		font-size: 22px;
	}
	.block:hover .block-side1{top:0;}
	.block:hover .block-side2{top:-100%;}
	$LeftConBtnHeight:42px;
	.buttons{
		margin: 0 auto;
		width:$LeftContainerWidth+15;
		margin-top:20px;
	}
	.button{
		width:($LeftContainerWidth - 3)/2;
		height:$LeftConBtnHeight;
		border:1px solid #fff;
		display: inline-block;
		@include transition;
	}
	.btn-prev{
		margin-left:15px;
	}
	.button:first-child{
		margin-right: -3px;
	}	
	.button:last-child{
		margin-left: -3px;
	}
	.button:after{
		content:"";
		position:absolute;
		width:($LeftContainerWidth - 3)/2*0.6;
		margin-left:($LeftContainerWidth - 3)/2*0.2;
		margin-top:$LeftConBtnHeight/2;
		height:1px;
		background: #fff;
	}
	.button:hover{
		background:rgba(255,255,255,0.3);
	}
}

#part-video {
	position:relative;
	margin: 0 auto;
	.video {
		width:320px;
		display: inline-block;
		height:180px;
		background: #000;
		margin-bottom:20px;
	}
	.video:last-child{
		float:right;
		&:after{
			content:"";
			position: absolute;
			width:180px;
			height:1px;
			background:#fff;
			bottom:10px;
			left:200px;
		}
	}
	video{
		outline:none;
	}
}

#aboutUs{
	text-align: center;
	h1.intro{
		margin-top:150px;
		margin-bottom: 30px;
		font-size: 36px;
	}
	.bolckTitle{
		width:300px;
		background: $BlockGun;
		letter-spacing: 10px;
		color:#fff;
		margin:0 auto;
		font-size: 20px;
		padding:17px 0;
		margin-top:70px;
	}
}
#picWall{
	position: relative;
	width:80%;
	margin:80px auto;
	.item{
		width:200px;
		height:200px;
		background: #D8D8D8;
		display: inline-block;
		overflow: hidden;
		margin:20px;
		position:relative;
		img{width:100%;}
	}
/* ui test
.mask{
	background:rgba(2,2,2,0.7);
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
} */
	.mask{
		@include transition;
		background:rgba(2,2,2,0.7);
		position:absolute;
		width:1px;
		height:1px;
		left:50%;
		top:50%;
	}
	.item:hover .mask{
    	transform:scale(200);  
	}
	.item:hover .mem-intro{
		left:0;
	}
	.mem-intro{
		position:absolute;
		left:-100%;
		bottom:0;
		width:100%;
		@include transition(left,0.1s,ease-in-out,0.25s);
	}
	p{
		cursor:default;
	}
	p.name {
		color:#fff;
		width:80%;
		margin:0 auto;
		text-align: left;
		line-height: 3;
		font-size: 18px;
		padding-left: 5px;
		letter-spacing: 2px;
	}
	.more {
		padding:15px 5px;
		border-top:1px solid rgba(255,255,255,0.2);
		box-sizing: border-box;
		width:80%;
		margin:0 auto;
		text-align: left;
		font-style: italic;
		color:rgba(255,255,255,0.8);
		&:hover{color:#fff;}
	}

}

.rightNav-mem{
	position: absolute;
	right:90px;
	top:150px;
	.switchbox{
		cursor:default;
		font-size: 16px;
		height: 95px;
		.items{
			display: inline-block; 
			vertical-align: top;
			/* display: none; */
		}
		.item{
			width:30px;
			height:100%;
			border:1px solid $BlockGun;
			display: inline-block;
			margin-left: -7px;
			padding:13px 5px;
			box-sizing: border-box;
			vertical-align: top;
		}
		.active {
			background: $BlockGun;
			color:#fff;
		}
		.now{
			height: 82px;
		}
	}
	ul{
		float:right;
	}
	li{
		display:block;
		width:12px;
		height:12px;
		margin:40px 0;
	}
	span.r{
		border:1px solid $BlockGun;
		width:10px;
		height:10px;
		position:absolute;
		@include transition;
		&:hover{
			@include transform(360deg);
		}
	}
	span.r.now{
		background: $BlockGun;
	}
}
#memCard{
	background:$BlockGun ;
	width:512px;
	height:360px;
	border:1px solid $BlockGun;
/*	margin: 0 auto;
	margin-top:-512px;
	position: relative; */
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin:auto;
	.phto{
		position:absolute;
		width:120px;
		height:120px;
		border:1px solid $BlockGun;
		background:$BlockGun ;
		left:196px;
		top:-60px;
		border-radius: 50%;
		overflow: hidden;
		img{
			width:100%;
			height:100%;
		}
	}
	.name{
		text-align: center;
		margin-top: 80px;
		letter-spacing: 15px;
		padding-left:15px;
		font-weight: bold;
	}
	.content{
		border-top:1px solid $BlockGun;
		width:90%;
		height:200px;
		margin:0 auto;
		overflow: hidden;
		margin-top: 30px;
		padding-top:10px;
	}
	.part1,
	.part2{
		margin:15px 0;
		line-height: 2;
		letter-spacing: 1;
		span{
			font-size: 1.3em;
			font-style:italic;
			padding-right: 10px;
			color:#666;
		}
	}
	.links{
		position:absolute;
		right: 30px;
		bottom: 15px;
		height:30px;
		width:100px;
		a{
			width:35px;
			height:30px;
			display: inline-block;
			margin:0 5px;
			span{
				display: block;
				height:100%;
			}
		}
	}
}

#haha{
	font-family: "museo",serif;
	font-style: normal;
	font-weight: 500;
}
#screenVedio{
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
}


span.github{
	background: url('../imgs/github.png') no-repeat 100% 100%;
}
span.blog{
	background: url('../imgs/blog.png') no-repeat;
}