<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WE:BETA</title>
	<link rel="stylesheet" href="../dist/css/app.css">
</head>
<body class="lightStyle" style="margin-top:50%;">
<nav class="backlLink">
	<a href="about.html">BACK</a>
</nav>
<nav class="nowHere">
	<p>ABOUT</p>
</nav>
<nav class="rightNav-mem">
	<div class="switchbox">
		<div class="items">
			<div class="item" data-classtype="5">第五届</div>
			<div class="item" data-classtype="4">第四届</div>
			<div class="item" data-classtype="3">第三届</div>
			<div class="item" data-classtype="2">第二届</div>
			<div class="item" data-classtype="1">第一届</div>
		</div>
		<div class="item now"></div>
	</div>
	<ul id="tabMem">
<!-- 		<li><span class="r"></span></li>
		<li><span class="r"></span></li>
		<li><span class="r"></span></li>
		<li><span class="r"></span></li>
		<li><span class="r"></span></li> -->
	</ul>
</nav>

<div id="memCard">
<!-- 	<div class="phto"><img src="../dist/imgs/member/elliot-1.jpg"></div>
	<p class="name">杨永鑫</p>
	<div class="content">
		<p class="part1"><span>专业</span>软件工程</p>
		<p class="part2"><span>介绍</span>喜欢从事自己感兴趣的事情，要么不做，要做就要做好。未来很长，希望能和β-house的小伙伴慢慢欣赏未来路上的风景。</p>
	</div>
	<div class="links">
		<a href="#"><span class="github"></span></a>
		<a href="#"><span class="blog"></span></a>
	</div> -->
</div>
<script src="../dist/js/jquery-1.8.3.min.js"></script>
<script src="../dist/js/memCards.js"></script>

</body>
</html>